@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html {
    line-height:1.5;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.box {
    max-width:800px;
    margin:0 auto;
    padding:64px 16px;
}
.title_tour {
    color:white;
    margin:10px 0;
    font-size:30px;
    letter-spacing: 4px;
    text-align:center;
    text-transform:uppercase;
}
.sub_title {
    color:white;
    opacity:0.6;
    font-style: italic;
    text-align:center;
    margin-top:15px;
    margin-bottom:33px;
    font-size:15px;
}
.title_color {
    color:black;
}
#header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: black;
    z-index: 1;
}
#nav {
    display:inline-block;
    height:46px;
}
#nav li {
    display:inline-block;
    position:relative;
}
#nav > li > a {
    display:inline-block;
    color:white;
    text-transform: uppercase;
    padding:0 24px;
    line-height:46px;
}
#nav li a {
    display:inline-block;
    text-decoration:none;
    font-weight:100;
}
#nav  li:hover .icon_arrow_down {
    transform:translateY(2px)
}
#nav > li:hover > a {
    background-color:#CBCCCB;
    color:black;
}
#nav li:hover .subnav {
    display:block;
}
#nav .subnav {
    display:none;
    position:absolute;
    background-color:white;
    min-width:160px;
    list-style: none;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 ,0.3);

}
.subnav li {
    width:100%;
}
.subnav a {
    color:black;
    padding:0 16px;
    line-height:38px;
}
.subnav li:hover {
    background-color:#CBCCCB;
}
.icon_arrow_down {
    font-size:18px;
    transition:0.3s;
    transform:translateY(1px);
}
#header #nav_icon_search {
    display:inline-block;
    float:right;
    height:46px;
    cursor:pointer;
}
#header #nav_icon_search:hover .icon_search {
    background-color:#DD443F;
}
#header .icon_search {
    color:white;
    font-size:20px;
    padding:0 20px;
    height:46px;
}
#slider {
    position:relative;
    margin-top:46px;
    padding-top:50%;
    background: url("https://www.w3schools.com/w3images/chicago.jpg") top center / cover no-repeat;
}
.text_content {
    position:absolute;
    bottom:47px;
    left:0;
    right:0;
    color:white;
    text-align:center;
    font-size:24px;
    font-family:Arial, sans-serif;
}
#slider h3 {
    font-weight:500;
    margin-bottom:10px;
}
#slider b {
    font-family:'Lato', sans-serif;
    font-size:15px;
}
#content #content_section_1 {
    max-width:800px;
    background-color: white;
    padding:64px 16px;
    margin:0 auto;
    font-family: Arial;
}
#content_section_1 .description {
    text-align:center;
    margin:10px 0;
}
#content_section_1 h3 {
    letter-spacing:4px;
    font-size:30px;
    font-weight:400;
    text-transform: uppercase;
}
#content_section_1 p.slogan {
    margin:15px 0;
    font-size:15px;
    font-style:italic;
    opacity:0.6;
}
#content_section_1 .slogan_description {
    text-align: justify;
    font-family:'Lato';
    font-size:15px;
    margin:15px 0px;
}
#content_section_1 .band_members {
    display:flex;
    justify-content:center;
    padding:32px 0;
    text-align:center;
}
#content_section_1 img {
    width:60%;
    border-radius:4px;
}
#content_section_1 .text {
    margin:15px 0;
}
#content #content_section_2 {

    background-color:black;
}

#content_section_2 .time_holding_tour {
    background-color:white;
}
#content_section_2 .tour_section {
    padding:8px 16px;
}
#content_section_2 .tour_section_2 {
    border:1px solid rgb(221, 221, 221);
}
#content_section_2 > .month_holding {
    opacity:0.8;
}
#content_section_2 .tickets_remaining_out {
    display:inline-block;
    background-color:rgb(244, 67, 54);
    color:white;
    padding:0 8px;
    margin-left:16px;
    opacity:1;
}
#content_section_2 .tickets_remaining {
    display:inline-block;
    float:right;
    color:white;
    background-color:black;
    margin-right:16px;
    padding:0 8px;
    border-radius:50%;
}
#content_section_2 .section_detail_tour {
    display:flex;
    justify-content:space-between;
    color:black;
    padding:32px 8px;
    margin:0 -16px;
}
#content_section_2 .sub_section {
    width:33.33333%;
    padding:0 8px;
    margin-bottom:16px;
}
#content_section_2 img {
    width:100%;
    display:block;
}
#content_section_2 img:hover {
    filter: brightness(60%);
}
#content_section_2 .detail {
    padding:0.15px 16px;
    font-family:'Lato', sans-serif;
    background-color:white;
}
#content_section_2 .title {
    color:black;
    font-weight:bold;
    font-size:15px;
    margin:15px 0;
}
#content_section_2 .dates {
    margin:15px 0;
    opacity:0.7;
}
#content_section_2 .description {
    margin:15px 0;
    font-size:15px;
}
#content_section_2 button {
    background-color:black;
    color:white;
    font-size:15px;
    text-align:center;
    padding:11px 17px;
    margin-bottom:16px;
    border:none;
    cursor:pointer;
}
#content_section_2 button:hover {
    background-color:#ccc;
    color:black;
}
.modal {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0 ,0 ,0 ,0.6);
    z-index: 2;
    justify-content: center;
    align-items: center;
    display:none;
}
.modal.open {
    display:flex;
}
.modal_container {
    background-color:white; 
    position:relative;
    box-shadow:0 0 12px 4px rgba(0 ,0 ,0 ,0.3);
    animation: modalFadeIn ease 0.6s;
}
.modal_close {
    position:absolute;
    top:0;
    right:0;
    padding:8px 8px 0 0;
    color:white;
    font-size:24px;
    opacity:0.8;
    cursor:pointer;
}
.modal_close:hover {
    opacity:1
}
.modal_header {
    width:900px;
    background-color:#009688;
    padding:32px 16px;
}
.modal_heading {
    margin:10px 0;
    font-size:30px;
    color:white;
    text-align:center;
    line-height:100%;
    letter-spacing:4px;
}
.modal_body {
    padding:15px 16px;
}
.modal_body label {
    display:block;
}
.modal_input {
    border:1px solid #ccc;
    padding:8px;
    width:100%;
    margin-top:10px;
    margin-bottom:16px;
    font-size:15px;
}
.modal_label {
    margin-top:8px;
}
.modal_button {
    background-color:#009688;
    padding:16px;
    margin:16px 0;
    text-align:center;
    line-height:24px;
    color:white;
    text-transform: uppercase;
    letter-spacing:1.5px;
    transition:0.2s;
}
.modal_button:hover  {
    background-color:#ccc;
    color:#000;
}
.modal_footer {
    text-align:right;
    margin:15px 16px 15px 0;
    font-size:14px;
}

@keyframes modalFadeIn {
    from {
        transform:translateY(-150px);
        opacity:0;
    }
    to {
        transfrom:translateY(0px);
        opacity:1;
    }
}
#content_section_3 {
    background-color:white;
}

.contact_form {
    padding:32px 0;
}
.contact_form::after {
    content:"";
    display:block;
    clear:both;
}
.sub_title_3 {
    margin:15px 0;
}
.address {
    display:inline-block;
}
.contact_infor {
    font-size:18px;
    list-style: none;
}
.contact_infor ion-icon {
    margin-right:12px;
}
.contact_infor_input {
    display:inline-block;
    float:right;
}
.input_contact {
    border:1px solid #ccc;
    padding:10px;
    font-size:15px;
}
.input_message {
    margin-top:6px;
    display:block;
    width:100%;
}
.input_name {
    margin-right:4px;
}
.input_email {
    margin-left:4px;
}
.contact_button {
    float:right;
    border:none;
    background-color:black;
    color:white;
    text-transform: uppercase;
    font-size:15px;
    padding:8px 16px;
    font-family:'Lato';
    margin:16px 0;
}
.contact_button:hover {
    background-color:#ccc;
    color:black;
}
.content_map img {
    width:100%;
    filter:grayscale(0.5);
}
#footer {
    padding:64px 16px;
    font-size:24px;
    color:#333;
    opacity:0.7;
    text-align:center;
}
#footer p {
    font-size:15px;
    line-height:32px;
}
#footer a {
    color:#333;
}
.logo:hover {
    opacity:0.5;
}
