* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html {
    line-height:1.5;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    scroll-behavior:smooth;
}
#main {
    height:2000px;
}

.content-container::after {
    content:'';
    display:block;
    clear:both;
}
.color-black {
    color:black !important;
}
.color-grey {
    color:#333 !important;
}
.color-white {
    color:white !important;
}
.padding-text {
    padding:12px 24px;
}
.margin-small {
    margin:10px 0;
}
.margin-medium {
    margin:15px 0;
}
.wid-full {
    width:100%;
}
.justify-text {
    text-align: justify;
}
.col {
    float:left;
    padding:0 8px;                                                                            
}
.col-full {
    width:100%;
}
.col-half {
    width:50%;
}
.col-third {
    width:33.33333%;
}
.row {
    margin:0 -8px;
}
.row::after {
    content:"";
    display:block;
    clear:both;
}
.mt-8 {
    margin-top:8px;
}



/* --Begin:header-- */
#header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:black;
    width:100%;
    z-index:1;
}
#nav {
    display:inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#nav li {
    display:inline-block;
    position:relative;
    list-style:none;
    border:none;
}
#nav > li::after {
    content:"";
    display:table;
    clear:both;

}
#nav > li > a {
    text-transform:uppercase;
}
#nav a {
    display:inline-block;
    text-decoration: none;
    font-family:'Lato';
}
#nav > li:hover > a {
    background-color:#ccc;
    color:#333 !important;
}
#nav ion-icon {
    transition:0.4s;
}
#nav li:hover ion-icon {
    transform:rotate(180deg);
}
#nav li:hover .subnav {
    display:block;
}
.subnav {
    display:none;
    position:absolute;
    top:100%;
    background-color:white;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.6);
    min-width:160px;
}
.subnav li:hover a {
    background-color:#ccc;
}
.subnav li {
    width:100%;
}
.subnav a {
    padding:8px 16px;
    width:100%;
    text-align:left;
}

.search {
    display:inline-block;
    float:right;
    color:white;
}

.search:hover {
    background-color:#f44336;
}
/* --End-- */


/* Begin:slider */
#slider {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-top:46px;
}
#slider .slider-text {
    position:absolute;
    bottom:0;
    color:white;
    padding:32px 16px;
}
.slider-text .title {
    font-size:24px;
    text-align:center;
}
.slider-text .sub-title {
    font-size:15px;
    font-family:'Lato';
    font-weight:bolder;
}
/* --End-- */


/* --Begin:container-- */

/* General elements */
.content-container {
    padding:64px 16px;
    margin:0 auto;
    max-width:800px;
    font-size:15px;
    font-family:'Lato', sans-serif;
    color:#333;
    
}
#container .header {
    text-align:center;
}
#container .heading {
    font-size:30px;
    font-family:'Segoe UI', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing:4px;
}
#container .sub-heading {
    font-style: italic;
    opacity:0.7;
}
/* ... */

/* Specific elements */
#band {

}
.band-member {
    padding:32px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}
.band-member img {
    width:60%;
    border-radius:4px;
}
#tour {
    background-color:black;
}
.tour-status {
    margin-top:33px;
    list-style: none;
    background-color:white;
}
.tour-status .list {
    padding: 8px 16px;
}
.tour-status .border {
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}
.tour-status .month {
    display:inline-block;
    opacity:0.7;
}
.tour-status .status {
    display:inline-block;
    background-color:#f44336;
    margin-left:16px;
    padding:0 8px;
}
.tour-status .status-remain {
    float:right;
    background-color:black;
    border-radius:50%;
    margin-right:16px;
    padding:0 8px;
}
.location {
    display:flex;
    padding:32px 8px;
    margin:0 -16px;
}
.location .option {
    width:33.3333%;
    margin-bottom:16px;
    padding:0 8px;
}
.location img {
    width:100%;
    display:block;
}
.location img:hover {
    filter:brightness(65%)
}
.location .time {
    opacity:0.75;
}
.location b {
    font-weight:700;
}
.location .description {
    background-color:white;
    padding:0.15px 16px;
}
.location .button {
    padding:8px 16px;
    margin-bottom:16px;
    border:none;
    background-color: black;
    font-family: 'Lato';
    font-size:15px;
    line-height:1.5;
}
.location .button:hover {
    background-color:#ccc;
    color:#333 !important;
}
#contact{

}
#contact .body {
    padding:32px 0;
}
#contact .body::after {
    content:'';
    display:block;
    clear:both;
}

.contact-place {
    margin-bottom:16px;
}
.contact-place .list {
    list-style: none;
    font-size:18px;
}
.contact-place ion-icon {
    padding-right:18px;
    transform:translateY(3px)
}
.contact-input {
    font-size:15px;
}

.contact-input .input {
    border:1px solid #ccc;
    padding:10px;
    width:100%;
}
.contact-input .button {
    float:right;
    font-size:15px;
    font-family:'Lato';
    text-transform: uppercase;
    border:none;
    background-color:black;
    padding:12px 16px;
    color:white;
    margin:16px 0;
}
.contact-input .button:hover {
    background-color:#ccc;
    color:#333;
}
#map {

}
#map img {
    width:100%;
}
/* --End-- */

/* --Begin:footer-- */
#footer {
    font-size:24px;
    font-family: 'Lato';
    text-align:center;
    opacity:0.7;
}
#footer p {
    font-size:15px;
}
/* --End-- */



/* --modal-- */
.modal {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.6);
    z-index:2;
    display:none;
    justify-content: center;
    align-items: center;
}
.modal .modal-container {
    position:absolute;
    width:900px;
    font-family:'Lato';
}
.modal-container .header {
    position:relative;
    background-color:#009688;
    color:white;
    padding:32px 16px;
    font-size:15px;
}
.modal-container p {
    font-size:30px;
    text-align:center;
    letter-spacing: 4px;
}
.modal-container ion-icon {
    margin-right:6px;
}
.modal-container .close {
    position:absolute;
    top:0;
    right:0;
    padding:10px;
    font-size:20px;
    opacity:0.8;
    transition:0.2s;
}
.modal-container .close:hover {
    opacity:1;
    transform: scale(1.2);
}
.modal-container .body {
    background-color:white;
    padding:0.15px 16px;
}
.modal-container .body input {
    display: block;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    color: #ccc;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family:'Lato';
}
.modal-container .confirm-btn {
    background-color:#009688;
    color:white;
    width:100%;
    text-align:center;
    padding:16px;
    margin:16px 0;
    text-transform: uppercase;
    transition:0.2s;
}
.modal-container .confirm-btn:hover {
    background-color:#ccc;
    color:#333;
}
.modal-container .assistance-btn {
    margin-top:30px;
    margin-bottom:24px;
    text-align:right;
    font-size:15px;
    letter-spacing:normal;
}
.open {
    display:flex;
}
/* --End-- */
